# Android
build/
app/build/
.gradle/
local.properties
app/secrets.properties
*.iml
.idea/

# Unit test reports
app/build/reports/
app/build/test-results/

# Other
.DS_Store
captures/
.externalNativeBuild/
.cxx/
